body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('/img/fondo.png');
    background-size: 300px 300px;
    color: #FFFFAE;
}

.navbar-custom {
    background-color: #FFFFAE;
    border-color: #A52A2A;
}

.logo {
    height: 130px;
    filter: brightness(0.65);
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.05);
}

.nav-link {
    color: #A52A2A;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: rgba(165, 42, 42, 0.1);
    color: #8B0000;
}

.active-page {
    background-color: #A52A2A;
    color: #FFFFAE !important;
}

.reseña-card {
    min-width: 300px;
    background-color: #FFFFAE;
    border: 3px solid #A52A2A;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.reseña-card:hover {
    transform: translateY(-3px);
}

.reseña-card h5 {
    color: #A52A2A;
    font-weight: 700;
}

.estrellas {
    color: gold;
    font-size: 24px;
}

.formulario-container {
    background-color: #A0522D;
    border-radius: 12px;
    padding: 40px;
    max-width: 600px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

.formulario h3,
.rrss-section h3 {
    color: #FFFFAE;
    font-family: 'Merriweather', serif;
}

.btn-enviar {
    background-color: #A52A2A;
    color: #FFFFAE;
    font-weight: bold;
}

.btn-enviar:hover {
    background-color: #8B0000;
}


.rrss-section ul {
    list-style: none;
    padding: 0;
    color: #FFFFAE;
}

.footer {
    background-color: #FFFFAE;
    color: #A52A2A;
    border-top: 2px solid #A52A2A;
    padding: 20px 0;
}
.footer-redes {
    text-align: center;
    margin-top: 20px;
}

.icono-red-social {
    width: 32px;
    transition: 0.2s;
}

.icono-red-social:hover {
    transform: scale(1.1);
}