body {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFAE;
    background-image: url('../img/fondo.png');
    background-repeat: repeat;
    background-size: 300px 300px;
}


.navbar-custom {
    background-color: #FFFFAE;
    border-color: #A52A2A;
}

.logo {
    height: 130px;
    filter: brightness(0.65) drop-shadow(0px 0px 5px rgba(165, 42, 42, 0.7));
    transition: 0.3s;
}

.logo:hover {
    filter: brightness(0.8) drop-shadow(0px 0px 10px rgba(255, 255, 174, 1));
    transform: scale(1.05);
}

.nav-link {
    color: #A52A2A;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #8B0000;
    background-color: rgba(165, 42, 42, 0.1);
}

.active-page {
    background-color: #A52A2A;
    color: #FFFFAE !important;
}

/* CONTENIDO */
.panes {
    border-radius: 10px;
    border: 6px solid #FFFFAE;
}

.centro {
    font-family: 'Merriweather', serif;
    font-size: 22px;
    font-weight: bold;
}

.centro h4 {
    font-size: 28px;
    margin-top: 20px;
}

/* FOOTER */
.footer {
    background-color: #FFFFAE;
    color: #A52A2A;
    border-top: 2px solid #A52A2A;
    padding: 20px 0;
}

.footer-bloque h4 {
    border-bottom: 2px solid #A52A2A;
    padding-bottom: 5px;
}

.footer-redes {
    text-align: center;
    margin-top: 20px;
}

.icono-red-social {
    width: 32px;
    transition: 0.2s;
}

.icono-red-social:hover {
    transform: scale(1.1);
}
