body {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFAE;
    background-image: url('/img/fondo.png');
    background-size: 300px 300px;
}
.navbar-custom {
    background-color: #FFFFAE;
    border-color: #A52A2A;
}
.logo {
    height: 130px;
    filter: brightness(0.65) drop-shadow(0px 0px 5px rgba(165, 42, 42, 0.7));
    transition: 0.3s;
}
.logo:hover {
    transform: scale(1.05);
}
.nav-link {
    color: #A52A2A;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}
.nav-link:hover {
    background-color: rgba(165, 42, 42, 0.1);
    color: #8B0000;
}
.active-page {
    background-color: #A52A2A;
    color: #FFFFAE !important;
}
.producto {
    background-color: #FFFFAE;
    border: 3px solid #A52A2A;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
}
.producto:hover {
    transform: translateY(-3px);
}
.producto img {
    height: 180px;
    object-fit: cover;
}
.btn-add {
    background-color: #A52A2A;
    color: #FFFFAE;
    font-weight: 900;
}
.btn-add:hover {
    background-color: #8B0000;
}
.loMasNuevo, .loMasVendido {
    background-color: #A52A2A;
    color: #FFFFAE;
    font-weight: 900;
    padding: 6px 14px;
}
.loMasVendido {
    background-color: #7A0000;
}
.disponible {
    color: #38761D;
    font-weight: 700;
}
.no-disponible {
    color: #CC0000;
    font-weight: 700;
}
.footer {
    background-color: #FFFFAE;
    color: #A52A2A;
    border-top: 2px solid #A52A2A;
    padding: 20px 0;
}
.footer-redes {
    text-align: center;
    margin-top: 20px;
}

.icono-red-social {
    width: 32px;
    transition: 0.2s;
}

.icono-red-social:hover {
    transform: scale(1.1);
}
